ufo-alert {
    font-size: 14pt;
    display: none;
    font-family: "Rubik", sans-serif;
    position: relative;

    &.ufo-alert {
        box-sizing: border-box;
        width: 96%;
        padding: 1.5rem 1rem;
        margin: 2rem auto;
        border-radius: $border-radius-normal;

        @media screen and (max-width: 800px) {
            padding-right: 50px;
        }
        ufo-icon {
            filter: opacity(0.5);
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 1.5rem;
        }

        p {
            display: inline-block;
            width: 98%;
            margin: 0;
        }
    }

    &.success {
        display: block;
        background: $green-opacity;
        color: darken($green, 10%);
        border: 1px solid $green-light;
        box-shadow: $shadow-subtle-light-bg, inset 5px -10px 30px darken($green-opacity, 2%);
        transition: all 0.3s ease-in-out;
    }

    &.success--dark {
        display: block;
        background: $green;
        color: $white;
        border: 1px solid $green-dark;
        box-shadow: $shadow-subtle-light-bg, inset 5px -10px 30px darken($green, 10%);
        transition: all 0.3s ease-in-out;
    }

    &.error {
        display: block;
        background: $red-opacity;
        color: darken($red, 10%);
        border: 1px solid $red-light;
        box-shadow: $shadow-subtle-light-bg, inset 5px -10px 30px darken($red-opacity, 2%);
        transition: all 0.3s ease-in-out;
    }

    &.error--dark {
        display: block;
        background: $red;
        color: $white;
        border: 1px solid $red-dark;
        box-shadow: $shadow-subtle-light-bg, inset 5px -10px 30px darken($red, 10%);
        transition: all 0.3s ease-in-out;
    }

    &.warning {
        display: block;
        background: $yellow-opacity;
        color: darken($yellow, 10%);
        border: 1px solid $yellow-light;
        box-shadow: $shadow-subtle-light-bg, inset 5px -10px 30px darken($yellow-opacity, 2%);
        transition: all 0.3s ease-in-out;
    }

    &.warning--dark {
        display: block;
        background: $yellow;
        color: $white;
        border: 1px solid $yellow-dark;
        box-shadow: $shadow-subtle-light-bg, inset 5px -10px 30px darken($yellow, 10%);
        transition: all 0.3s ease-in-out;
    }

    &.system {
        display: block;
        background: $blue-opacity;
        color: darken($blue, 10%);
        border: 1px solid $blue-light;
        box-shadow: $shadow-subtle-light-bg, inset 5px -10px 30px darken($blue-opacity, 2%);
        transition: all 0.3s ease-in-out;
    }

    &.system--dark {
        display: block;
        background: $blue;
        color: $white;
        border: 1px solid $blue-dark;
        box-shadow: $shadow-subtle-light-bg, inset 5px -10px 30px darken($blue, 10%);
        transition: all 0.3s ease-in-out;
    }
}
