ufo-icon-button {
    &.ufo-icon-button {
        width: auto;
        height: 32px;
        position: relative;
        display: inline-block;
    }

    button {
        display: inline-block;
        border: none;
        outline: none;
        background: transparent;
        font-size: 2rem;
        color: $button-icon;
        transition: all .3s ease-in-out;

        &:hover {
            cursor: pointer;
            color: darken($button-icon, 10%);
        }

        ion-icon {
            color: $button-icon;
            stroke: $button-icon;
            transition: all .3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: darken($button-icon, 10%);
            }
        }
    }
}