ufo-breadcrumbs {
    margin: 5px;
    color: #000;
    font-size: 16pt;
    width: auto;
    height: auto;

    a {
        color: $breadcrumb;
        display: inline-block;
        text-decoration: none;
        transition: all .3s ease-in-out;
    }

    a:hover {
        color: darken($breadcrumb, 15%);
    }

    a::after {
        content: "    /\00a0    ";
    }

    .active {
        color: $breadcrumb-active;
    }

    .active:hover {
        color: darken($breadcrumb-active, 15%);
    }

    .active::after {
        content: "";
    }
}