ufo-pill {
    font-size: 12pt;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    border-radius: $pill-radius;
    display: inline-block;
    min-width: 50px;

    &.ufo-pill {
        padding: 5px 10px;
        margin: 10px auto;
        box-sizing: border-box;
        box-shadow: $shadow-pill;
    }

    &.primary {
        background: $pill-primary;
        color: $white;
        box-shadow: $shadow-pill, inset 0 -10px 20px darken($pill-primary, 25%);
    }

    &.warning {
        background: $pill-warning;
        color: $white;
        box-shadow: $shadow-pill, inset 0 -10px 20px darken($pill-warning, 25%);
    }

    &.danger {
        background: $pill-danger;
        color: $white;
        box-shadow: $shadow-pill, inset 0 -10px 20px darken($pill-danger, 25%);
    }

    &.success {
        background: $pill-success;
        color: $white;
        box-shadow: $shadow-pill, inset 0 -10px 20px darken($pill-success, 25%);
    }

    &.default {
        background: $pill-default;
        color: $white;
        box-shadow: $shadow-pill, inset 0 -10px 20px darken($pill-default, 25%);
    }

    &[large] {
        min-width: 100px;
        padding: 10px 20px;
        font-size: 14pt;
    }
}