/*--------------------- COLORS ----------------------*/
$green:#27ae60;
$green-light: lighten($green, 25%);
$green-dark: darken($green, 25%);
$green-opacity: rgba(39, 174, 96, .25);
$white:#fff;

/*------------------- Border Radius -----------------------*/
$border-radius-normal:10px;

/*------------------- Shadows ---------------------------*/
$shadow-subtle-light-bg: 3px 5px 15px rgba(0, 0, 0, .25);