/*--------------------- COLORS ----------------------*/
$green:#27ae60;
$green-light: lighten($green, 25%);
$green-dark: darken($green, 25%);
$green-opacity: rgba(39, 174, 96, .25);

$red:#e74c3c;
$red-light: lighten($red, 25%);
$red-dark: darken($red, 25%);
$red-opacity: rgba(231, 76, 60, .25);

$yellow:#f1c40f;
$yellow-light: lighten($yellow, 25%);
$yellow-dark: darken($yellow, 15%);
$yellow-opacity: rgba(241, 196, 15, .25);

$blue:#2980b9;
$blue-light: lighten($blue, 25%);
$blue-dark: darken($blue, 25%);
$blue-opacity: rgba(41, 128, 185, .25);

$default:#2d3436;
$default-light: lighten($default, 25%);
$default-dark: darken($default, 25%);
$default-opacity: rgba(45, 52, 54, .25);

$icon-color:#2d3436;
$tip-bg: #2d3436;
$breadcrumb:#0984e3;
$breadcrumb-active:#636e72;
$white:#fff;

/*------------------ Pill Variables ----------------------*/
$pill-primary:#2980b9;
$pill-warning:#f1c40f;
$pill-success:#27ae60;
$pill-danger:#e74c3c;
$pill-default:#2d3436;
$shadow-pill: 2px 3px 5px rgba(0, 0, 0, .25);
$pill-radius:9999px;

/*---------------------- Cards ---------------------------*/

$card-background:#fff;
$card-background-dark:#2d3436;
$card-radius:3px;
$shadow-card: 2px 3px 5px rgba(0, 0, 0, .25);
$card-text:#2d3436;
$card-text-dark:#fff;
$card-body:#2d3436;
$card-footer:lighten(#2d3436, 30%);
$card-title-border:1px solid rgba(45, 52, 54, .3);

/*------------------- Drawer ------------------------*/

$drawer-background:#fff;
$drawer-shadow: 8px 15px 25px rgba(0, 0, 0, .3);


/*------------------- Border Radius -----------------------*/
$border-radius-normal:10px;
$border-radius-small:5px;
$border-round: 50px;

/*------------------- Shadows ---------------------------*/
$shadow-subtle-light-bg: 3px 5px 15px rgba(0, 0, 0, .25);
$shadow-button: 3px 5px 10px rgba(0, 0, 0, .2);
$shadow-button-hover: 8px 15px 25px rgba(0, 0, 0, .3);
$shadow-button-click: 2px 3px 5px rgba(0, 0, 0, .7);

/*----------------------- Tooltip ----------------------*/
$underline:#6c5ce7;

/*----------------------- Tags ------------------------*/
$tag-color:#fff;
$tag-default:#2d3436;
$tag-primary:#2980b9;
$tag-warning:#f1c40f;
$tag-success:#27ae60;
$tag-danger:#e74c3c;

/*--------------- Summary ---------------*/

$summary-header-bg:#1298d6;
$summary-header-text:#ebe7e7;